<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="InscripcionesAppAccesoDatos.Properties.Settings.INSCRIPCIONES_APP_BDConnectionString"
            connectionString="Data Source=CompuSebas\SQLEXPRESS;Initial Catalog=INSCRIPCIONES_APP_BD;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>